.container {
  table {
    margin: 0 50px;
    border-collapse: collapse;
    width: 100%;
    box-shadow: 0px 0px 1px 1px #979797 inset, 0px 0px 0px 0px #979797 inset;

    th,
    td {
      box-shadow: 0px 0px 1px 1px #979797 inset, 0px 0px 0px 0px #979797 inset;
      height: 44px;
    }
    th,
    td {
      text-align: center;
    }

    th {
      color: #222;
      font-family: Quicksand;
      font-size: 20px;
      font-style: normal;
      font-weight: 700;
      line-height: 28px;
    }
    td {
      color: #222;
      text-align: center;
      font-family: Quicksand;
      font-size: 20px;
      font-style: normal;
      font-weight: 400;
      line-height: 28px;
      img {
        width: 35px;
      }
    }
  }
}
