* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  scroll-behavior: smooth;
  background-image: url("../image/Background.png");
  background-size: cover;
}

header .container {
  margin: 0 150px;
}
header .container .row {
  display: flex;
  align-items: center;
}
header .container .row .col {
  flex: 1;
}
header .container .row .col .nav {
  display: flex;
  position: relative;
  justify-content: end;
}
header .container .row .col .nav li {
  display: inline-block;
  list-style: none;
}
header .container .row .col .nav li a {
  text-decoration: none;
  line-height: 46px;
  padding: 0 24px;
  display: block;
  font-family: Pacifico;
  color: #000;
}
header .container .title {
  margin: 30px 0;
  text-align: center;
  font-size: 1.5em;
  color: #fa273b;
  font-family: Pacifico;
}

section .container {
  margin: 0 150px;
  background-image: url("../image/bg-2.jpg");
  background-size: cover;
  border-radius: 20px;
  height: 76vh;
  border: 1px solid #f3ebeb;
}
section .container .model-play {
  display: flex;
  text-align: center;
  align-items: center;
  justify-content: center;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  height: 100%;
  background-image: url("../image/bg_3.png");
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 20px;
}
section .container .model-play .turn {
  display: none;
  align-items: center;
  width: 30%;
  padding: 30px 30px 30px 70px;
  transform: translateY(-330px);
}
section .container .model-play .turn .turn-content {
  margin-left: 20px;
  display: inline-flex;
  flex: 1;
  height: 64px;
  background: #761b00;
  border-radius: 40px;
  border: 3.5px solid #ed8500;
  justify-content: center;
  align-items: center;
  color: #fff;
  font-weight: 500;
  font-size: 1.9em;
}
section .container .model-play .rotation-lucky {
  position: relative;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 39%;
  padding-top: 10px;
}
section .container .model-play .rotation-lucky #spin {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  background-size: cover;
  position: absolute;
  top: 35%;
  transform: translateY(50%);
  background-color: #fce25a;
  text-transform: uppercase;
  border: 5px solid #ec1c24;
  font-weight: bold;
  font-size: 20px;
  width: 70px;
  height: 70px;
  font-family: Pacifico;
  border-radius: 50%;
  cursor: pointer;
  outline: none;
  letter-spacing: 1px;
  z-index: 3;
}
section .container .model-play .rotation-lucky #spin img {
  z-index: 3;
}
section .container .model-play .rotation-lucky .circle-border {
  position: relative;
  width: 420px;
  height: 420px;
  background: url(../image/bg_cirle.png);
  background-size: cover;
  border-radius: 50%;
  border: 7px solid #ffe87f;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.5);
}
section .container .model-play .rotation-lucky .circle-border .circle-container {
  position: relative;
  width: 350px;
  height: 350px;
  border-radius: 50%;
  top: 7%;
  left: 7%;
}
section .container .model-play .rotation-lucky .circle-border .circle-container .circle {
  position: absolute;
  z-index: 1;
  width: inherit;
  height: inherit;
  border-radius: inherit;
  background-clip: padding-box;
  background-color: #ffcb3f;
  transition: transform 6s ease;
}
section .container .model-play .rotation-lucky .circle-border .circle-container .circle canvas {
  width: inherit;
  height: inherit;
  border-radius: 50%;
  border: 7px solid #fde78f;
}
section .container .model-play .rotation-lucky .circle-border .circle-container .circle .pie {
  position: absolute;
  left: 0;
  top: 0;
  width: inherit;
  height: inherit;
  z-index: 2;
}
section .container .model-play .rotation-lucky .circle-border .circle-container .circle .pie .pie-item {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  font-weight: bold;
  text-shadow: 0 1px 1px rgba(255, 255, 255, 0.6);
  list-style: none;
}
section .container .model-play .rotation-lucky .circle-border .circle-container .circle .pie .pie-item span {
  position: relative;
  display: block;
  padding-top: 20px;
  margin: 0 auto;
  text-align: center;
  transform-origin: 50% 170px;
}
section .container .model-play .rotation-lucky .circle-border .circle-container .circle .pie .pie-item p {
  position: relative;
  top: 30px;
  left: 35%;
  width: 30%;
  font-size: 10px;
  background: #fff;
  border-radius: 20px;
  padding: 5px 0;
}
section .container .model-play .rotation-lucky .circle-border .circle-container .circle .pie .pie-item img {
  position: relative;
  top: 30px;
  left: 0px;
  height: 50px;
}
section .container .model-play .rotation-lucky .circle-border::before {
  content: "";
  top: 7.5%;
  position: absolute;
  z-index: 5;
  display: inline-block;
  width: 40px;
  height: 40px;
  background: #ffeb91;
  left: 45%;
  -webkit-clip-path: polygon(100% 0%, 50% 100%, 0% 0%);
          clip-path: polygon(100% 0%, 50% 100%, 0% 0%);
}
section .container .model-play .rules {
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: center;
  width: 50%;
}
section .container .model-play .rules p {
  margin-bottom: 30px;
  font-size: 1.1em;
  text-align: start;
  color: #000;
  display: flex;
  font-family: Quicksand;
}
section .container .model-play .rules p strong {
  font-family: Quicksand;
  margin-right: 10px;
}
section .container .model-play .rules .start_game {
  margin-top: 40px;
  display: inline-block;
  transform: translateY(-15px);
  padding: 10px 150px 10px 150px;
  border-radius: 40px;
  border: 8px solid #fefefe;
  background-color: #e11a1a;
  color: #fff;
  font-size: 1.7em;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.6);
  cursor: pointer;
  font-family: Quicksand;
  text-transform: uppercase;
}
section .container .model-play .point {
  display: none;
  align-items: center;
  width: 30%;
  padding: 30px 70px 30px 30px;
  transform: translateY(-330px);
}
section .container .model-play .point .point-content {
  margin-left: 20px;
  display: inline-flex;
  flex: 1;
  height: 64px;
  background: #761b00;
  border-radius: 40px;
  border: 3.5px solid #ed8500;
  justify-content: center;
  align-items: center;
  color: #fff;
  font-weight: 500;
  font-size: 1.9em;
}
section .container .model-play .play {
  display: none;
  transform: translateY(-15px);
  padding: 5px 150px 10px 150px;
  border-radius: 40px;
  border: 8px solid #fefefe;
  background-color: #e11a1a;
  color: #fff;
  font-size: 1.2em;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.5);
  cursor: pointer;
  font-family: Quicksand;
}
section .container .model-play .time_play {
  display: none;
}
section .container .model-play .time_play .time-header {
  line-height: 46px;
  padding: 0 24px;
  display: block;
  font-family: Pacifico;
  color: #222;
  font-size: 50px;
  font-style: normal;
  transform: translateY(80px);
}
section .container .model-play .time_play .time-content {
  font-family: Pacifico;
  font-weight: 600;
  font-size: 15em;
}

.active-icon {
  position: absolute;
  left: 94%;
  top: 69%;
}
.active-icon img {
  cursor: pointer;
  display: block;
  margin-bottom: 10px;
  width: 60px;
  height: 60px;
}

.model {
  position: fixed;
  inset: 0;
  background: rgba(0, 0, 0, 0.4);
  align-items: center;
  justify-content: center;
  display: none;
  z-index: 7;
}
.model .model-container {
  position: relative;
  background: #fff;
  width: 700px;
  max-width: calc(100% - 32px);
  min-height: 400px;
  border-radius: 15px;
  z-index: 8;
  background: url(/assets/image/Rectangle.png);
}
.model .model-container .model-header #icon_start {
  position: absolute;
  top: -15%;
  left: 25%;
}
.model .model-container .model-header #icon_exit {
  position: absolute;
  left: 87%;
  top: 4%;
  cursor: pointer;
}
.model .model-container .model_body .title_model {
  position: absolute;
  width: 100%;
  text-align: center;
  top: 25%;
  font-size: 2.5em;
  color: #000;
  font-weight: 500;
  font-family: cursive;
}
.model .model-container .model_body .content_model {
  position: absolute;
  width: 100%;
  text-align: center;
  top: 40%;
  font-size: 6.5em;
  color: #000;
  font-weight: 700;
  font-family: cursive;
}
.model .model-container .model_active {
  width: 100%;
  display: inline-block;
  position: absolute;
  left: 7.5%;
  top: 80%;
}
.model .model-container .model_active .login_model {
  width: 290px;
  padding: 10px;
  border-radius: 40px;
  border: 8px solid #fefefe;
  background-color: #e11a1a;
  color: #fff;
  font-size: 1.3em;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.5);
  cursor: pointer;
  text-transform: uppercase;
  margin-right: 10px;
}
.model .model-container .model_active .score {
  width: 290px;
  padding: 10px;
  border-radius: 40px;
  border: 8px solid #fefefe;
  background-color: #e11a1a;
  color: #fff;
  font-size: 1.3em;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.5);
  cursor: pointer;
  text-transform: uppercase;
  margin-left: 10px;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(1000deg);
  }
}
.container .rules-content {
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: center;
  width: 100%;
  padding: 50px 100px;
}
.container .rules-content p {
  margin-bottom: 30px;
  font-size: 1.1em;
  text-align: start;
  color: #000;
  display: flex;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}
.container .rules-content p strong {
  font-family: cursive;
  margin-right: 10px;
}

.container .awardlist {
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: center;
  width: 100%;
  padding: 50px 100px;
}
.container .awardlist .awardlist-header p {
  margin-bottom: 30px;
  font-size: 1.1em;
  text-align: start;
  color: #000;
  display: flex;
  font-weight: 600;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}
.container .awardlist .awardlist-header p strong {
  font-family: cursive;
  margin-right: 10px;
}
.container .awardlist .awardlist-content {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.container .awardlist .awardlist-content img {
  flex: 1;
  width: 190px;
  margin: 0 70px;
}
.container .awardlist .awardlist-footer {
  margin-top: 20px;
}
.container .awardlist .awardlist-footer p {
  font-weight: 600;
  font-size: 1.1em;
  text-align: start;
  color: #000;
  display: flex;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}
.container .awardlist .awardlist-footer p strong {
  font-family: cursive;
  margin-right: 10px;
}

.container table {
  margin: 0 50px;
  border-collapse: collapse;
  width: 100%;
  box-shadow: 0px 0px 1px 1px #979797 inset, 0px 0px 0px 0px #979797 inset;
}
.container table th,
.container table td {
  box-shadow: 0px 0px 1px 1px #979797 inset, 0px 0px 0px 0px #979797 inset;
  height: 44px;
}
.container table th,
.container table td {
  text-align: center;
}
.container table th {
  color: #222;
  font-family: Quicksand;
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: 28px;
}
.container table td {
  color: #222;
  text-align: center;
  font-family: Quicksand;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 28px;
}
.container table td img {
  width: 35px;
}/*# sourceMappingURL=index.css.map */